.navbar {
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.homepost {
    margin-top:20%;
}

@media (min-width: 768px) {
    .homepost {
        margin-top: 10%;
    }
}

@media (min-width: 992px) {
    .homepost {
        margin-top: 8%;
    }
}
@media (min-width: 1200px) {
    .homepost {
        margin-top: 5%;
    }
}

.modal-dialog{
    margin-top:20%;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 15%;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        margin-top: 10%;
    }
}
@media (min-width: 1200px) {
    .modal-dialog {
        margin-top: 6%;
    }
}

.alert-info-error{
    margin-top: 10%;
}

#map-canvas {
    height: 500px;
}

.center-text{
    text-align: center;
}

.btn-del{
    width: 100%;
}
.container{
    width: 100%;
}



@media (min-width: 992px) {
    .mapcontroler{
        float: right;
    }
}
@media (min-width: 1200px) {
    .mapcontroler{
        float: right;
    }
}

.panel{
    overflow-y: scroll;
    height: 481px;
}

#directionsPanel{
    width: 100%;
}


.form-group {
    margin-bottom: 1px;
}

.modal-body {
    position: relative;
    padding: 2px;
}